<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.inria.soctrace.framesoc.core.tool">
      <tool
            class="fr.inria.soctrace.framesoc.tutorials.importer.ExampleImporter"
            doc="Select a file and click launch"
            id="fr.inria.soctrace.framesoc.tutorials.importer.example"
            name="Framesoc Tutorial Importer"
            type="IMPORT">
      </tool>
   </extension>

</plugin>
